<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Birdspotter", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logga in", 'login' %></li>
        <li><%= link_to "Registrera", 'signup' %></li>
      </ul>
    </nav>
  </div>
</header>