<header class="navbar navbar-fixed-top col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
  <div class="container col-xs-12 col-lg-12">
    <nav>
      <ul class="nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Mitt konto", logout_path, :class => 'header_link' %></li>
          <li><%= link_to "Logga ut", logout_path, method: "delete", :class => 'header_link' %></li>
        <% else %>
          <li><%= link_to "Registrera", signup_path, :class => 'header_link' %></li>
          <li><%= link_to "Logga in", root_url, :class => 'header_link' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>