<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-sm-offset-2 col-lg-4 col-lg-offset-2">
  <%= render 'layouts/info' %>
  <%= render 'shared/flash_message' %>
  <%= render 'login/new' %>
</div>

