<% provide(:title, @user.username) %>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <h1 class="username_header">
    <%= @user.username %>
  </h1>
  
  <!--apikey form -->
  <div class='apikey_form'>
    <%= render 'apikeys/apikey_form' %>
  </div>
  
  <!--list of apikeys -->
  <div class='apikeys_list'>
    <% if @user.apikeys.any? %>
        <ul class="apikeys">
          <%= render 'apikeys/apikey' %>
        </ul>
        <!--paginate if more than five -->
        <%= will_paginate @apikeys %>
        <% else %>
        <p>Du har inga apinycklar</p>
      <% end %>
      </ol>
  </div>
</div>
