@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
  $light-gray: #777;
  $gray-medium-light: #eaeaea;
  $skyblue: #A2E9F9;
  
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

.info_wrapper{
  border: 1px solid brown;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
}


/*template view*/

#main_container{
  min-height: 600px;
  padding-top: 20px;
}

/*startview*/
.startview_logo{
  margin-bottom: 20px;
}

#logo_image{
  max-width: 100%;
  height: auto;
  
}

/* header */

.navbar{
  background-color: brown;
}

li{
  float: left;
   @include font-size(24px)
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid brown;
  clear: both;
  small{
    float: left;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  @include font-size(24px);
  font-color: white;
}
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.submit_button{
  background-color: brown;
  color: white;
}

textarea {
  resize: vertical;
}

.header_link{
  color: white;
  &:hover {
    color: black;
    text-decoration: none;
  }
}


.center {
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}



/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: black;
  ul {
    color: black;
    margin: 10px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* miscellaneous */


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
