@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
  $light-gray: #777;
  $gray-medium-light: #eaeaea;
  $skyblue: #A2E9F9;
  
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.submit_button{
  background-color: brown;
  color: white;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}

/*template view*/
#main_container{
  min-height: 600px;
  padding-top: 20px;
}

.navbar{
  background-color: brown;
  li{
    float: left;
     @include font-size(24px)
  }
  a {
    color: white;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid brown;
  clear: both;
  small{
    float: left;
  }
}


/*start view*/
.info_wrapper{
  border: 1px solid brown;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
}

#logo_image{
  max-width: 100%;
  height: auto;
}

.startview_logo{
  margin-bottom: 20px;
}

/*specific user view*/

.username_header{
  font-size: 2.5vmin;
  font-weight: 600;
}
.apikeys_list{
  ul{
    list-style-type: none;
    margin-left: 0; 
    margin-top:20px;
    padding: 0;
    li{
      border-bottom: 1px solid brown; 
      max-width:100%;
      min-width:100%;
    }
  }
  .application_name{
    font-weight: 400;
    font-size: 2vmin;
  }
  .application_key{
    font-size: 1.1vmin;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: black;
  ul {
    color: black;
    margin: 10px;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* miscellaneous */
debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
