<div class="info_wrapper">
    <p>
        Kul att du är intresserad av att använda vårt API.
        Din applikation behöver en apinyckel som du kan
        skapa när du har registrerat ett konto.
        Här kommer snart teknisk information.
    </p>
</div>

